[user]
	email = mkitzmann@gmail.com
	name = Moritz Kitzmann
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --all --format=format:'%C(yellow)%h%C(reset) - %C(cyan)%ci%C(reset) %C(green)(%cr)%C(reset) %C(bold yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(bold white)- %cn%C(reset)%n' --abbrev-commit --date=relative
	ls = status
	d = difftool
	p = pull
[core]
	editor = vim
